

#divtitulo {
    background-color: #000315;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 500%;
    font-weight: bold;
    margin-top:100px;
  
}
#t2 {
    margin-top:0px;
}
h5 {
    color: #FFFFFF;
}
h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 2vw;
    font-weight: lighter;
    margin-bottom: 200px;
}

.card {
    height: 200%;
    object-fit: cover;
    border-radius: 0;
    border: none;
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(5px);
    transition: opacity 0.5s;
    overflow: hidden;
    word-wrap: break-word;
}

    .card img {
        transition: filter 0.5s;
        image-rendering: pixelated;
    }

    .card:hover img {
        filter: blur(5px);
        border: none;
    }


.card-title {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 5px 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#tarjetas {
    padding: 40px;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    color: #fff;
    text-align: start;
    line-height: 1.0;
    flex: 1;

}

.card:hover #tarjetas {
    opacity: 1;
}

.ver-mas {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
}

    .ver-mas:hover {

        background-color: rgba(255, 255, 255, 0.3);
    }

.marquee {
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: #000315;
    color: #ffffff;
    margin-top: 300px;
    margin-bottom: 150px;
}

    .marquee li {
        font-size: 50px;
    }

.marquee__content {
    display: flex;
    list-style: none;
    animation: scrolling 10s linear infinite;
}

.marquee__item {
    flex-shrink: 0;
}

@keyframes scrolling {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}


.carousel-container {
    width: 80%; 
    margin: 0 auto; 
    overflow: hidden; 
    margin-top:100px;
}

.carousel {
    display: flex; 
    animation: slideLeft 10s linear infinite; 
}

#card {
    flex: 0 0 33.33%; 
    padding: 20px;
    text-align: center;
    background-color:#000315;
}

   

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

#contenidoslider {
    flex: 1;
    color: #fff;
}




.form-container {
    max-width:150%;
    width: 100%;
    height: 18cm;
    margin-left: -1cm;
    padding: 1cm;
    box-sizing: border-box;
    border: 2px solid #343D7E;
    border-radius: 20px;
    background-color: #1A1B27;
    margin-top:30%;
}
@media screen and (max-width: 600px) {
    .form-container{
        max-width: 50%;
    }
}

.col-6 {
    flex: 1;
}
@media screen and (max-width: 600px) {
    .col-6 {
        flex: 100%; /* Ambas columnas ocupan el 100% del ancho en pantallas pequeñas */
        margin-bottom: 20px; /* Espacio entre columnas en pantallas pequeñas */
    }
}
.inputs {
    margin-bottom: 20px;
    
}

    .inputs input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        border-radius: 10px;
       
    }
#input {
    /*transition: placeholder 0.5s;*/
    transition: border-color 0.5s;
}
    #input:hover::placeholder {
        opacity: 0;
    }
    #input:hover {
        border-color: #F41052;
    }

.checkboxes input[type="checkbox"] {
    display: none;
}

.checkboxes label {
    color: white;
    margin-right: 10px;
}

    .checkboxes label:before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        border: 1px solid white;
        vertical-align: middle;
        background-color: transparent;
    }

.checkboxes input[type="checkbox"]:checked + label:before {
    background-color: white;
}

button {
    background-color: #F41052;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    width: 100px; /* Ancho del botón */
    height: 30px; /* Alto del botón */
    font-size: 14px;
}

.left-btn {
    float: left;
}
#imgrv {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 80%; /* Mantiene la proporción de aspecto de la imagen */
    display: block; /* Elimina el espacio en blanco debajo de la imagen */
}
div-img-form {
    width: 300px; /* Ancho del contenedor */
    height: 200px; /* Alto del contenedor */
    overflow: hidden; /* Oculta el contenido que se desborde del contenedor */
}

