html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {

    background-color: black;
}


.dropdown-item:hover {
  
    box-shadow: 0 0 10px 100px #F41052 inset;
    cursor: pointer;

}

.navbarDropdown {
    color: red;
    background-color: aqua;
    
   
}


#fondo {
    background-color: #000315;
    height: 100px;

  
}

#listadesplegable {
    background-color: #000315;
    
}

header {
    background-color: #000315;
  
}


img {
    height: 100%;
    width: 70%;
}

button.navbar-toggler {
    border-color: #F41052;
    display: flex;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244,16,82)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

footer {
    background-color: #ffffff;
    height: 11cm;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 10px solid #F41052;
    margin-top:-10%;
}

#logo-rosa{
    width:100px;
    height:100px;
   margin-top:50px;
}
h3 {
    font-weight: 700;
}
 