@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<body>

    <div class="container"> 
        <div class="row">
            <div class="col-10" id="divtitulo">
                <h1 id="t1" class="display-8">@Localizer["title1"]</h1>
                <h1 id="t2" class="display-8">@Localizer["title2"]</h1>
                <h6>@Localizer["subtitle"]</h6>
            </div>
    
        </div>
    </div>

</body>