@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<body>

<div class="container" id="divtitulo">
    <h1 class="display-4">@Localizer["title"]</h1>
    <h6>@Localizer["subtitle"]</h6>
    
</div>

</body>