@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


<div class="flex-container" id="divtitulo">
    <h1 id="t1" class="display-8">@Localizer["title1"]</h1>
    <h1 id="t2" class="display-8">@Localizer["title2"]</h1>
    <h6>@Localizer["subtitle"]</h6>
</div>
<div class="container">
    <div class="row gx-5">
        <div class="col">
            <div class="card h-100">
                <img src="/css/images/cards/card1.jpg" class="card-img-top" alt="Imagen proyecto" />
                <div class="card-body">
                    <h5 class="card-title">
                        Titulo
                    </h5>
                    <p>Descripcion</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn buttoncard" target="_blank" rel="noreferrer noopener">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/css/images/cards/card2.jpg" class="card-img-top" alt="Imagen proyecto" />
                <div class="card-body">
                    <h5 class="card-title">
                        Titulo
                    </h5>
                    <p>Descripcion</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn buttoncard" target="_blank" rel="noreferrer noopener">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/css/images/cards/card3.jpg" class="card-img-top" alt="Imagen proyecto" />
                <div class="card-body">
                    <h5 class="card-title">
                        Titulo
                    </h5>
                    <p>Descripcion</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn buttoncard" target="_blank" rel="noreferrer noopener">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/css/images/cards/card4.jpg" class="card-img-top" alt="Imagen proyecto" />
                <div class="card-body">
                    <h5 class="card-title">
                        Titulo
                    </h5>
                    <p>Descripcion</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn buttoncard" target="_blank" rel="noreferrer noopener">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/css/images/cards/card5.jpg" class="card-img-top" alt="Imagen proyecto" />
                <div class="card-body">

                    <h5 class="card-title">
                        Titulo
                    </h5>
                    <p>Descripcion</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn buttoncard" target="_blank" rel="noreferrer noopener">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</div>




