@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["title"]</h1>
    <h6>@Localizer["subtitle"]</h6>
    <p>@Localizer["paragraph"]</p>
</div>
